.form {
  width: 320px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label input {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
